<header>
    <div class="hamburger-icon" (click)="showNavBar()">
      <app-svg [svgName]="'Hamburger'" [style]="'light'"></app-svg>
    </div>
    
    <nav id="nav" class="nav-bar">
      <div class="close-icon" (click)="closeNavBar()">
        <app-svg [svgName]="'Close'" [style]="'light'"></app-svg>
      </div>
      <div class="nav-links">
        <a href="#about-me" class="nav-link">About Me</a>
        <a href="#portfolio" class="nav-link">Portfolio</a>
        <a href="#resume" class="nav-link">Resume</a>
        <a href="#contact" class="nav-link">Contact</a>
      </div>
    </nav>

    <div class="head-main">
      <h1 class="name">André Thomas</h1>
      <h2 class="kicker">Web Developer | Programmer | Engineer</h2>
    </div>
  </header>
