.footer-container {
    width: 100%;
    height: 100px;
    background: linear-gradient($lighter-gray-gradient, $light-gray-gradient), url('../../assets/images/mountain-background.jpg') center 20%;
    background-size: cover;

    .footer-content {
        .footer-link {
            margin-left: 20px;
            color: $white;
            font-size: 16px;
        }
    }
}