@import '../../shared-styles/sass';

$lighter-gray-gradient: rgba(0, 0, 0, .3);
$light-gray-gradient: rgba(0, 0, 0, .3);

header {
  background-image: linear-gradient($lighter-gray-gradient, $light-gray-gradient), url('../shared-styles/images/mountain-background.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 5px -5px $gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;

  .nav-bar {
    float: right;
    position: absolute;
    right: 30px;
    top: 30px;

    .nav-link {
      color: $white;
      display: inline-block;
      font-size: 13px;
      margin-left: 10px;
      opacity: 1;
      text-transform: uppercase;

      &:hover {
        border-bottom: solid 2px $white;
        padding-bottom: 4px;
      }
    }
  }

  .head-main {
    padding: 0 20px;
    text-align: center;

    .name {
      color: $white;
      font-size: 40px;
      font-weight: 300;
      letter-spacing: .05em;
      padding-bottom: 20px;
    }

    .kicker {
      color: $white;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: .05em;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
