header {
  background-attachment: fixed;
  
  .hamburger-icon {
    display: none;
  }

  .nav-bar {
    width: auto;
    height: auto;
    right: 40px;
    top: 40px !important;
    background-color: transparent;
    transition: none;

    .close-icon {
      display: none;
    }

    .nav-links {
      margin-top: 0;

      .nav-link {
        display: inline-block;
        font-size: 16px;
        margin-left: 20px;
  
        &:hover {
          border-bottom: solid 2px $white;
          padding-bottom: 4px;
          color: $white;
        }
      }
    }
  }

  .head-main {
    .name {
      font-size: 60px;
    }

    .kicker {
      font-size: 18px;
    }
  }
}
