<section class="portfolio-container">
  <div class="header-wrapper">
    <h1 class="section-header">Portfolio</h1>
    <div class="border-bottom"></div>
  </div>

  <div class="container project-wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-4 project">
        <div class="image"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 project">
        <div class="image2"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 project">
        <div class="image"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 project">
        <div class="image2"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 project">
        <div class="image"></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 project">
        <div class="image2"></div>
      </div>
    </div>
  </div>
</section>
