.resume-container {
    .resume-content {

        .work-section {

        }

        .education-section {

        }

        .col-left {
            width: 33.3%;
            float: left;
            text-align: left;
        }

        .col-right {
            width: 66.6%;
            float: right;
            text-align: left;
        }
    }
}