.skills-container {
  box-shadow: $section-box-shadow;
  text-align: center;

  .header-wrapper {
    display: inline-block;

    .border-bottom { @include border-bottom(); }
  }

  .skill-circle {
    text-align: center;

    .technology {
      font-size: 19px;
      padding-top: 20px;
    }
  }
}
