.about-container {

    .about-content {
        display: flex;
    
        .about-text {
          flex-grow: 1;
          flex-basis: 0;
          font-size: 19px;
        }

        .skills {
            flex-grow: 1;
            flex-basis: 0;
        }
      }
  }
  