.about-container {

    .about-content {
        .about-text {
          width: 48%;
          float: left;
          margin-right: 4%;
          font-size: 19px;
        }

        .skills {
            width: 48%;
            float: right;
        }
      }
  }
  