.about-container {
  background-color: $light-section-background;
  box-shadow: $section-box-shadow;
  text-align: center;

  .header-wrapper {
    display: inline-block;

    .border-bottom { @include border-bottom(); }
  }

  .profile-picture {
    background: url('../../assets/images/profile-picture.jpg');
    background-size: cover;
    border-radius: 100%;
    height: 180px;
    margin: 0 auto;
    width: 180px;
  }

  .about-content {
    padding: 40px;

    .about-text {
      font-size: 19px;
      margin-bottom: 30px;
    }

    .skills {
      
    }
  }
}
