<section class="resume-container">
  <div class="header-wrapper">
    <h1 id="resume" class="section-header">Resume</h1>
    <div class="border-bottom"></div>
  </div>
  <div class="resume-content clearfix">
    <div class="work-section clearfix">
      <div class="col-left">
        <h2 class="resume-content-header">Work</h2>
      </div>
      <div class="col-right">
        <div class="resume-element">
          <h3 class="position">Associate Software Engineer</h3>
          <p>Modea Aug 2017 - Present</p>
          <p>
            Worked with Angular to develop the new website for Jefferson College of Health Sciences.
            Created responsive and dynamic cross-browser-compatible website following mobile first approach while 
            using Git to maintain source code base and collaborate with team members.
            Used agile principles to streamline development process while maintaining transparency with the client.
          </p>
        </div>
        <div class="divider"></div>
        <div class="resume-element">
          <h3 class="position">Software Engineering Intern</h3>
          <p>Modea May 2017 - Aug 2017</p>
          <p>
            Worked closely with our project management, design team, and clients to build a brand new eCommerce website.
            I utilized the power of PHP and Wordpress to build the complete checkout and registration process of the site while
            contributing to the complete Software Development Life Cycle (SDLC) and gained experience with agile principles.
          </p>
        </div>
      </div>
    </div>
    <div class="education-section clearfix">
      <div class="col-left">
        <h2 class="resume-content-header">Education</h2>
      </div>
      <div class="col-right">
        <div class="resume-element">
          <h3 class="position">Virginia Tech</h3>
          <p>Minor, Computer Science 2013 - 2017</p>
          <p>B.S. Psychology 2013 - 2017</p>
        </div>
      </div>
    </div>

    <a href="https://docs.google.com/document/d/1hH8-5uSCU_556y9dVYfEzdzFkMyB6EuzYRRgYf3JBLI/edit?usp=sharing" class="resume-button" target="_blank">View my CV</a>
  </div>
</section>
