@import '../../shared-styles/sass';
@import '../../shared-styles/mobile';

.portfolio-container {
  // overflow-x: hidden;
  position: relative;
  text-align: center;

  .header-wrapper {
    display: inline-block;

    .border-bottom { @include border-bottom(); }
  }

  .portfolio-belt {
    // background-color: #2ecc71;
    // position: absolute;
    // left: -50%;
    // width: 200%;

    // .buffer {
    //   background-color: #e74c3c;
    // }
  }

  .project-wrapper {
    .project {
      float: left;
      height: 225px;
      padding: 0;
      width: 50%;

      .projectImage {
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;

        .projectOverlay {
          background: $dark-blue;
          height: 100%;
        	opacity: .9;
        	position: absolute;
        	text-align: center;
        	top: 100%;
          transition-duration: .5s;
          width: 100%;
          left: 0;

          strong {
            color: white;
          	display: block;
            font-size: 36px;
            font-weight: 300;
            line-height: 1.2;
            padding: 50px 50px 5px;
          	text-transform: uppercase;
          }
        }

        &:hover .projectOverlay {
          top: 0%;
        }
      }

      .projectImage1 {
        background-image: url('../../assets/images/projects/twitter.png');
      }

      .projectImage2 {
        background-image: url('../../assets/images/projects/todo.png');
      }

      .projectImage3 {
        background-image: url('../../assets/images/projects/pong.png');
      }

      .projectImage4 {
        background-image: url('../../assets/images/projects/tictactoe.png');
      }

      .projectImage5 {
        background-image: url('../../assets/images/projects/twitter.png');
      }

      .projectImage6 {
        background-image: url('../../assets/images/projects/safehouse.jpg');
      }
    }
  }
}
