// Colors
$gray: #333;
$white: #fff;
$light-section-background: #f7f3f7;
$dark-red: #c0392b;
$dark-blue: #2c3e50;

// Viewports
$viewport-tablet: 480px;
$viewport-desktop: 1140px;

* {
  font-weight: 300;
  color: $dark-blue;
}

a {
  text-decoration: none;
}

section {
  padding-bottom: 50px;
  padding-top: 50px;
}
